<!--<h1 class="text-center text-white mt-5" >New Category</h1>
<%= render "categories/form" %>-->

<div class="modal fade " id="exampleModalkeywordedit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-8 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                          <%=form_with(model:@category, local:true) do |form|%>
                            <%=form.label :name, class:"form-label"%>
                            <%=form.text_field :name, class:"form-control"%>
                            <%=form.submit class:"btn btn-primary mt-4"%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
              
              <h5>Keywords</h5>
              <div class="row mt-2 mb-3">
                    <div class="col-xl-9 col-lg-7 col-6">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                        placeholder="New keyword">
                    </div>
                    <div class="col-xl-3 col-lg-5 col-6">
                        <%=link_to 'create', new_keyword_path,remote: true,class:"btn btn-success"%>
                    </div>
              </div>
              <div class="container scroll" >
                  <div class="card">
                    <% @keywords.each do |keyword| %>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <p class="card-text"><%=keyword.text%></p>
                                </div>
                                <div class="col-6">
                                      <div class="row">
                                          <div class="col-6">
                                              <%= link_to 'Update', edit_keyword_path(keyword),:remote=>true, style:"color: blue"%>
                                          </div>
                                          <div class="col-6">
                                              <%= link_to "Delete", keyword, method: :delete, style:"color: red"%>
                                          </div>
                                      </div>
                                </div>
                            </div>
                          </div>
                    <%end%>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>